.nav-container {
    position: relative;
    margin-left: 0;
    margin-top: 0;
    margin-right: 15px;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
     background: rgba(15, 139, 141, 0.04);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(237, 233, 236, 0.26); 
    border-radius: 15px;

  }

  h1 {
    position: absolute;
    left: 20px;
    font-size: 1.75rem;
    color: #FDE74C;
    text-shadow:3px 3px 3px#A30300;
  }
  

  .navbar-links {
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
  }

  #submit-btn {
    width: 100%;
    padding: 0.5rem;
  background-color: #F0A202;
  border: 1px solid #0F8B8D;
  color: #EDE9EC;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    border-radius: 4px;
    display: block;
    margin: 0.5rem 0;
    box-shadow: 1px 1px 0 0 #F0569B;
  }
  
  #submit-btn:hover {
   background-color: #0F8B8D;
  border: 1px solid #F0A202;
  color: #EDE9EC;
  }
  
  
  .NavHome, .navDetails, .login-button {
    background: none;
  color: #EDE9EC;
    cursor: pointer;
    font-size: 1.3rem;
    text-decoration: none;
    font-weight: light;
  }
  
  .navDetails:hover, .NavHome:hover, .login-button:hover {
  color: #0F8B8D;
  }
  
  .login-form-dropdown {
    position: absolute;
    height: 375px;
    width: 250px;
    top: 85px;
    right: 0;
    padding: 1.75rem;
    z-index: 100;
  background: rgba(15, 139, 141, 0.04);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(237, 233, 236, 0.26); 
    border-radius: 15px;
  }
  
  .login-form input {
    display: block;
    width: 100%;
    margin: 0.5rem 0;
    padding: 0.5rem;
  }
  
  .login-form button {
    width: 100%;
    padding: 0.5rem;
  background-color: #F0A202;
  border: 1px solid #0F8B8D;
  color: #EDE9EC;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    border-radius: 4px;
    display: block;
    margin: 0.5rem 0;
  }

  .login-form button:hover {
  background-color: #0F8B8D;
  border: 1px solid #F0A202;
  color: #EDE9EC;
  }
  
  .register-link {
    display: block;
    margin-top: 0.5rem;
    text-align: center;
  color: #EDE9EC;
    text-decoration: none;
  }
  

  .Reg-Message h2 {
  color: #EDE9EC;
    font-size: 1.25rem;
    font-weight: bold;
  }

  .Reg-Message p {
  color: #EDE9EC;
    font-size: 1rem;
    font-weight: 400;

  }


