.navbar {
  bottom: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #8649f8;
  padding: 1rem 2rem;
  margin-bottom: 2rem;
  border-radius: 16px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  width: 100%;
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.3s ease;
}

/* Brand Name */
.navbar-brand a {
  font-size: 1.75rem;
  font-weight: 600;
  color: #f2f4f8;
  text-decoration: none;
  transition: color 0.2s ease;
}

.navbar-brand a:hover {
  color: #e9ca1b; 
}

/* Link List */
.navbar-links {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.navbar-links li a {
  color: #dbdde0; 
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 500;
  transition: color 0.2s ease;
}

.navbar-links li a:hover {
  color: #e9ca1b;
}
