* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

html,
body {
  height: 100%;
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  background-color: #f9f9f9;
  color: #1f1f1f;
  background-image: url('./assets/TaskMan.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.app-wrapper > div:first-child {
  display: none; 
}

/* Wrapper for entire app */
.app-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
}

/* Main content box */
.content-box {
  background-color: #fffffffa;
  border: 1px solid #27252525;
  border-radius: 24px;
  padding: 3rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, 
  rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  width: 100%;
  max-width: 1200px;
  transition: all 0.3s ease;
  position: relative;
}


/* Main content */
.main-content {
  margin-top: 2rem;
}
